.root{
    width: 100% !important;
    height: 100%!important;
    box-sizing: border-box !important;
    /* padding: 24px 33px !important; */
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start !important;
    overflow:hidden !important;
    /* align-items: flex-start !important; */
    /* background-color:#f6f8ff !important; */

}
.heading{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between ;
    min-height:50px !important; 
    background-color: unset !important;
}
.headings{
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    gap:5px;
    height: 100% !important;
    
}
.heading1{
    font-size: 22px !important;
    font-weight: 600 !important;
    line-height: 30px !important;
    font-family: 'poppins' !important;
    /* margin-top: 10px !important; */
}
.heading2{
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 21px !important;
}
.headingBtns{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-end !important ;
    height:100% !important; 
    /* background-color: #e5be7e !important; */

}
.headingBtn{
    border-radius: 12px !important;
    font-size: 12px !important;
    text-transform: unset !important;
    font-weight: 500 !important;
    height: 45px !important;
    width: 100px !important;
    /* background-color: #e5be7e !important; */
}
.saveBtn{
    background-color: #4f80e1 !important;
    color: white !important;
    margin-right: 10px !important;
    border: unset !important;
}
.cancleBtn{
    background-color: #f6f8ff !important;
    color:#4f80e1 !important;
    border: 1px solid #4f80e1 !important;
    margin-right: 22px !important;
    margin-left: 10px !important;
}
/* main */
.main{
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box !important;
    /* padding: 33px !important; */
    border-radius: 12px !important;
    background-color: #fff !important;
    overflow: hidden !important;
    margin-top: 10px !important;
}
.mainWrapper{
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    background-color: white !important;
    overflow: hidden !important;
    overflow-y: auto !important;
    flex-wrap: wrap;
}