.apexcharts-tooltip-title{
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 18px !important;
    color: #fff !important;
    margin-bottom: 0px !important;
    background-color: #42a0fc !important;
}
