/* .login{
    background: url('../../assets/Images/login.jpg');
} */
/* login.css */

.login-container {
    display: flex;
    height: 100vh; /* Full viewport height */
  }
  
  .login-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Adjust padding as needed */
    background-color: #ffffff; /* Background color for the login form side */
  }
  
  .login-image {
    flex: 1;
    border-radius: 0px 20px 20px 0px;
    background-image: url('../../assets/Images/food.jpg'); /* Replace with your image path */
    background-size: cover; /* Ensure the image covers the area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image from repeating */
  }
  
  /* Optional: Style for the login page container inside the login-form */
  .login-form .MuiBox-root {
    max-width: 400px; /* Adjust as needed */
    width: 100%;
  }
  